.experiencia{
    align-items: self-start;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 40px;
    column-gap: 80px;
}

.experiencia__container__titulo{
    color: var(--cor-experiencia);
    font-size: 10rem;
    justify-self: start;
    text-transform: uppercase;
}

.experiencia-projetos{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.experiencia__container__lista__item{
    border-radius: .4rem;
    padding: 10px 20px;
    background-color: var(--cor-competencias);
}