@import './lista-projetos.css';
@import './experiencia.css';
@import './lista-projetos.css';

/* SEÇÃO DO BANNER */

.banner{
    align-items: center;
    column-gap: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px 20px;
}

.banner__container-img__imagem{
    width: 80%;
}

.banner__descricao__titulo{
    font-size: 4.8rem;
    text-align: start;
    position: relative;
}

.banner__descricao__titulo::before{
    content: url('../../assets/images/detalhe.svg');
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}

.banner__descricao__localizacao{
    color: var(--cor-fonte-secundaria);
    font-size: 1.5rem;
}