.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 70px 0;
}

.cabecalho__titulo{
    font-size: 4.2rem;
}

.cabecalho__menu__lista{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.cabecalho__menu__lista__item__link{
    color: var(--cor-fonte-principal);
    cursor: pointer;
    padding: 1rem;
    font-weight: 550;
}

.cabecalho__menu__lista__item__link:hover{
    color: var(--cor-destaque);
}